body {
/*margin: 0 auto;
width: 980px;*/
margin: 0;
font-family: lato,sans-serif;
}

.uppercase {
  text-transform: uppercase;
}

.active {
  border-bottom: 1px solid #f3f3ff;
}

a {
  text-decoration: none;
  letter-spacing: 0.7px;
}

header {
  background: linear-gradient(-180deg, #c47290 3%, #feada6 100%);
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 40px 60px 40px;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

 nav a {
  margin: 0 0 10px 20px;
  padding: 15px 1px 5px 1px;
  font-size: 11px;
  color: #f3f3ff;
}

.leftCon {
  display: flex;
  flex-direction: row;;
  align-items: flex-start;
  max-width: 300px;
  justify-content: space-between;
}

.myName {
  padding: 4px 5px 5px 5px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.7px;
  border-bottom: 1px solid #feada6;
}

.title {
  padding: 8px 5px 50px 5px;
  font-weight: lighter;
  font-size: 17px;
  letter-spacing: 0.5px;
}

.logoTextCon {
  padding: 16px 0 0 0;
  text-align: center;
  color: #ffff;
}

.shaniImg {
  padding-left: 15px;
}

.aboutMeWrap {
  padding: 90px 15px 40px 15px;
}

.aboutMeTitle {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 15px;
}

/*.line {
  height: 20px;
  width: 130px;
  border-bottom: 1px solid #000000;
}
*/

.seperator {
  margin-top: 100px;
  border-bottom: 1px;
  border-color: #f3d3;
}

.projectCont {
  padding: 0 0 0 100px;
}

.projectItem {
  padding: 0 0 50px 0;
}

.projectTitle {
  font-size: 14px;
}

dl {
  margin-bottom: 10px;
}

.projectDesc dt {
  font-size: 12px;
  font-weight: 600;
}

.projectDesc dd {
  font-size: 14px;
  font-weight: lighter;
  margin: 0;
  padding: 5px 0 10px 0;
}

.showMoreBtn {
  font-size: 11px;
  color: #000000;
  border: 1px solid #000000;
  padding: 5px 10px;
}

.aboutMeTitle h1 {
  display: inline-block;
  padding: 0 15px;
  background-color: #ffff;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.7px;
}

p {
  margin: 0 50px 0 50px;
  padding: 10px 0 180px 0;
  letter-spacing: 1.2px;
  line-height: 30px;
  font-size: 17px;
  font-weight: lighter;
}

.contact, .email, .phone {
  display: flex;
  font-weight: normal;
  font-size: 13px;
}

.contact {
  padding: 30px 0 300px 0;
}

.contactInfo {
  padding-left: 100px;
}

.email, .phone {
  width: 230px;
  justify-content: space-between;
  align-items: baseline;

}

.email {
  padding-bottom: 20px;
}

.contact a {
  font-size: 12px;
  font-weight: 400;
}

.contactTitle {
  padding: 0 50px;
}
